
<div class="container mt-4 mb-4">

  <div class="row mb-5 justify-content-between align-items-end">
    <div class="col-md-6">
      <app-add-video (videoToAdd)="addVideo($event)"></app-add-video>
    </div>
    <div class="col-md-4 mb-5">
      <h3>Search</h3>
      <input [(ngModel)]="searchText" placeholder="search text goes here">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let video of videos | filterPipe: searchText; index as i;">
      <app-video-box 
        (videoToDelete)="deleteVideo($event)"
        (updateVideo)="updateVideo($event)"
       [video]="video"></app-video-box>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
